<p id="notice"><%= notice %></p>

<h1>
  <%= @recipe.name %>
</h1>

<p>
  <strong>Porciones:</strong>
  <%= @recipe.portions %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @recipe.cost %>
</p>

<%= link_to 'Editar', edit_recipe_path(@recipe) %> |
<%= link_to 'Volver', recipes_path %>
