<p id="notice"><%= notice %></p>

<h1>Listing Ingredients</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Cantidad</th>
      <th>Unidad</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ingredients.each do |ingredient| %>
      <tr>
        <td><%= ingredient.name %></td>
        <td><%= ingredient.amount_included %></td>
        <td><%= ingredient.measurement_unit %></td>
        <td><%= link_to 'Editar', edit_ingredient_path(ingredient) %></td>
        <td><%= link_to 'Ver', ingredient_path(ingredient) %></td>
        <td><%= link_to 'Agregar precio', "/" %></td>
        <td><%= link_to 'Eliminar', ingredient, method: :delete, data: { confirm: 'Seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo ingrediente', new_ingredient_path %>