<p id="notice"><%= notice %></p>

<h1>Lista de ingredientes</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Cantidad</th>
      <th>Precio</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @ingredients.each do |ingredient| %>
      <tr>
        <td><%= ingredient.name %></td>
        <td><%= ingredient.amount_included.to_s + " " + ingredient.measurement_unit %></td>
        <td>$ <%= ingredient.price %></td>
        <td><%= link_to 'Editar', edit_ingredient_path(ingredient) %></td>
        <td><%= link_to 'Precios', ingredient_path(ingredient) %></td>
        <td><%= link_to 'Ajustar precio', "/" %></td>
        <td><%= link_to 'Eliminar', ingredient, method: :delete, data: { confirm: 'Seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo', new_ingredient_path, :class => "btn btn-primary" %>