<p id="notice"><%= notice %></p>

<h1><%= @ingredient.name %></h1>

<p>
  <strong><%= @ingredient.amount_included.to_s + " " + @ingredient.measurement_unit%></strong>
</p>

<h3>Precios</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Fecha</th>
      <th>Precio</th>
    </tr>
  </thead>

  <tbody>
    <% @ingredient.prices.each do |price| %>
      <tr>
        <td><%= price.created_at.strftime "%m/%Y" %></td>
        <td><%= price.price %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= form_for(@new_price) do |f| %>
  <div class="field">
    <%= f.label :price, "Nuevo precio" %><br>
    <%= f.number_field :price %>
    <%= f.hidden_field :ingredient_id %>
  </div>
  
  <div class="actions">
    <%= f.submit "Guardar", :class => "btn btn-primary"%>
  </div>
<% end %>

<%= link_to 'Volver', ingredients_path %>
